@import "../../../styleUtils/vars.scss";

@mixin for-tablet-up {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin for-tablet-medium-up {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-mobile-large-up {
  @media (max-width: 650px) {
    @content;
  }
}
@mixin for-mobile-up {
  @media (max-width: 480px) {
    @content;
  }
}

.social__media {
  min-height: 100vh;
  width: 98%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
  @include for-tablet-medium-up() {
    padding: 1rem;
  }
  @include for-mobile-up() {
    padding: 0.8rem;
    width: 100%;
  }
  &__header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &--page {
      display: flex;
      gap: 0.5rem;
      font-size: small;
      align-items: center;
      span:first-child {
        color: $gray;
      }
      span:last-child {
        color: $gray-dark;
      }
      .forward__icon {
        color: $gray;
      }
    }
    &--bar {
      background-color: $white;
      padding: 2rem;
      width: 100%;
      box-shadow: 0 5px 10px $info, 0 -5px 10px $info;
      display: flex;
      align-items: center;
      gap: 3rem;
      @include for-tablet-medium-up() {
        flex-direction: column;
        gap: 1rem;
        align-items: start;
      }
      h2 {
        color: $primary;
      }
    }
  }
  &__body {
    box-shadow: $shadow;
    background-color: $white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    padding-block: 1rem;

    @include for-mobile-large-up() {
      padding: 1rem;
      height: 500vw;
      padding-bottom: 2rem;
    }
    .social__card {
      display: flex;
      flex-direction: column;
      border: 1px solid $info;
      height: 500px;
      &--header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 0.5rem;
        color: $white;
      }
      &--body {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
    .linkedin {
      background-color: #0274b3;
    }
    .twitter {
      background-color: #29abe2;
    }
    .facebook {
      background-color: #325c99;
    }
    .youtube {
      background-color: #ea3434;
    }
    .instagram {
      background-color: #d04769;
    }
  }
}
